[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flasgger = "~=0.9"
Flask = "~=1.1"
Markdown = "~=3.2"
pytz = "~=2019.3"
uwsgi = "~=2.0"

[dev-packages]
black = "*"
flake8 = "*"
flake8-docstrings = "*"
flake8-mypy = "*"
mypy = "*"
pydocstyle = "<6.0"
transcrypt = "*"
yamllint = "*"

[pipenv]
allow_prereleases = true